* {
  margin: 0;
  padding: 0;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  margin-bottom: 20px;
}

.hidden {
  display: none;
}

object {
  width: 300px;
  height: 300px;
}

/* peach & orange svg icons were little too small so, I made them bigger. */
.bigger {
  width: 350px;
  height: 350px;
}

header,
section {
  text-align: center;
}

/* If we have to make new <div> for other elements except for 
   <div> boxes for svgs icons, this css should be edited.
*/

div {
  width: 350px;
  height: 350px;
  display: inline-block;
  text-align: center;
  margin-right: 50px;
}